[submodule "zeiterfassungguilib/QStringListWidget"]
	path = zeiterfassungguilib/QStringListWidget
	url = https://github.com/0xFEEDC0DE64/QStringListWidget.git
[submodule "plugins/sketchplugin/QtSketch"]
	path = plugins/sketchplugin/QtSketch
	url = https://github.com/0xFEEDC0DE64/QtSketch.git
